/* Write the CSS for you answer here */

#container {
    position: absolute;
    width:700px;
    height: 540px;
    left:25%;
}

#background{
    position: absolute;
    width:700px;
    height: 540px;
}

#tree{
    position: absolute;
    width:700px;
    height: 540px;
    z-index: 2;
}

#blue{
    position: absolute;
    top:200px;
    left:100px;
    z-index: 3;
}
#darkblue{
    position: absolute;
    top:250px;
    left:280px;
    z-index: 3;
}
#green{
    position: absolute;
    top:180px;
    left:400px;
    z-index: 3;
}
#orange{
    position: absolute;
    top:300px;
    left:550px;
    z-index: 3;
}
#pink{
    position: absolute;
    top:300px;
    left:400px;
    z-index:1;
}
#red{
    position: absolute;
    top:370px;
    left:50px;
    z-index: 3;
}